.client-logo {
  width: 130px;
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  @media screen and (max-width:900px) {
    width: 100px;

}
}
.card_load {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.SmallCard {
  width: 140px;
  height: 90px;
  background: #ffff;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  flex-basis: 33.33333%;
}

.Container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

.smallCardContainer {
  margin-top: 60px;
  --dark-grey: #353535;
  --middle-grey: #767676;
  --lightest-grey: linear-gradient(#fafafa, #ebebeb);
  --shadow: 0 5px 15px 0 #00000080;
  --shadow-active: 0 5px 5px 0 #0000005b;
  --border-radius-main: 10px;
  --border-radius-icon: 50px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  cursor: default;
  color: var(--dark-grey);
  opacity: 0.9;
  margin-right: 0rem;
  padding: 1.5rem;
  font-weight: 600;
  background: var(--lightest-grey);
  max-width: 15rem;
  max-height: 15rem;
  border-radius: var(--border-radius-main);
  -webkit-border-radius: var(--border-radius-main);
  -moz-border-radius: var(--border-radius-main);
  -ms-border-radius: var(--border-radius-main);
  -o-border-radius: var(--border-radius-main);
  box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  flex-basis: 50%;
  @media screen and (max-width:900px){
    max-width: 9rem;
    max-height: 9rem;
    margin-top: 40px;

  }
}

.smallCardContainer:hover {
  box-shadow: var(--shadow-active);
  -moz-box-shadow: var(--shadow-active);
  -webkit-box-shadow: var(--shadow-active);
  scale: 1.2;
  .btn-close {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    background-color: #ff0000cc;
    box-shadow: var(--shadow-active);
    -moz-box-shadow: var(--shadow-active);
    -webkit-box-shadow: var(--shadow-active);
  }
}

.smallCardContainer .tool-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  top: 0;
  left: 0;
  border-radius: var(--border-radius-main);
  -webkit-border-radius: var(--border-radius-main);
  -moz-border-radius: var(--border-radius-main);
  -ms-border-radius: var(--border-radius-main);
  -o-border-radius: var(--border-radius-main);
}

.smallCardContainer .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 0.8rem;
  height: 0.8rem;
  color: transparent;
  font-size: 0;
  background-color: #ff000080;
  border: none;
  border-radius: var(--border-radius-main);
  -webkit-border-radius: var(--border-radius-main);
  -moz-border-radius: var(--border-radius-main);
  -ms-border-radius: var(--border-radius-main);
  -o-border-radius: var(--border-radius-main);
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}
