.card {
  width: 330px;
  height: 330px;
  overflow: hidden;
  white-space: pre-line;
  border-radius: 44px;
  background: rgba(211, 211, 211, 0);
  background: #155263;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  border: 0rem solid #ffffff00;
  @media screen and (max-width: 900px) {
    width: 250px;
    height: 250px;
  }

  h1 {
    font-family: var(--font-base);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 10;
    color: aliceblue;
  }
  img {
    border-radius: 60px;
    width: 100px;
    margin-bottom: 10px;
    @media screen and (max-width: 900px) {
      width: 70px;
    }
  }
  p {
    text-align: center;
    color: #ffffff;
    margin-top: 7px;
    width: 300px;
    white-space: pre-line;
    @media screen and (max-width: 900px) {
      font-size: 0.8rem;
    }
  }
  &:hover {
    border: 0.2rem solid #ffffff;
    scale: 1.1;
  }
  @media screen and (max-width: 900px) {
    margin-top: 30px;
  }
}

.avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  align-self: center;
  margin-right: 3000px;
  background-color: rgba(255, 255, 255, 0);
  margin: 30px 15px 20px 25px;
  border-radius: 14px;
}

.info {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0);

  align-items: center;
  width: 100px;
}

.info-1,
.info-2 {
  display: inline-block;
  height: 20px;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
}

.info-2 {
  height: 11px;
  width: 50%;
  border-radius: 3px;
}

.content-1 {
  width: 80%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9);
  height: 70px;
}

.content-2 {
  width: 60%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.9);
  height: 18px;
  margin: 10px 0 0 20px;
}
.serviceLink {
  text-decoration: none;
}
.yellowColor {
  background: linear-gradient(to top, #fab41d, #fcd77a);
  box-shadow: 10px 10px 3px #0000005f, 5px 20px 3px #12000012;
}
.blueColor {
  background: linear-gradient(to top, #264588, #6e88b3);
  box-shadow: 10px 10px 3px #0000005f, 5px 20px 3px #12000012;
}
.greenColor {
  background: linear-gradient(to top, #0c7939, #4caf80);
  box-shadow: 10px 10px 3px #0000005f, 5px 20px 3px #12000012;
}
